<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealTime Chatting App</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <label> Welcome <%=user.fName%>! </label>

            <form class="searchForm" method="get" id="searchForm">
                
                <input type="text" placeholder="search" id="searchBox" name="user">
                <button type="submit" id="searchBtn"> search</button>
                <div class="searchResult"></div>
            </form>

            


        </div>
        <div class="mainContainer">
            <div class="chatlabel"><label>Your chats: </label></div>
            
            <div class="chats">
            <%chatArray.forEach((user)=>{%>
                <div class="chat">
                <form action="/select/<%=user._id%>" method="get">
                    <button id="searchButton" type="submit"> 
                        <%=user.fName%> <%=user.lName%>
                    </button></form></div>

                <%})%>

            </form></div>
                  
         
           
        </div>
        
            
        </div>
    
    <script>window.user = '<%- JSON.stringify(user) %>'</script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
</body>
</html>